{{>header}}
{{>nav}}
<div class="container">
    <img src="img/jose.jpg"
         style="width: 720px; height: 480px;  margin-left: auto; margin-right: auto; display: block; border: 1px solid white;">
    <p>
        Nacido en Játiva, Valencia, España el 12 de enero de 1591, fue un pintor, dibujante y grabador. Su padre Simón
        de Rivera, de oficio zapatero y su madre Margarita Cucó. Tuvo un hermano que también fue pintor.
        Dada la profesión de su padre, se puede pensar que disfrutaron de una situación económica acomodada, pues el uso
        de calzado era costoso en el siglo XVI. Nada se sabe con certeza sobre su formación profesional; se especula que
        puede haber sido aprendiz de Francisco Ribalta.
    <h2> UN ESPAÑOL ITALIANIZADO </h2>
    Uso su nombre italianizado como Jusepe Ribera y con el apodo de Lo Spagnoletto («El Españolito») por su corta
    estatura y porque anexaba a la firma en latín varias palabras como el español, valenciano y setabense.

    </p>
    <p>
        Se cree que hacia 1606 emprendió viaje a Italia, visitando la corte de los Farnesio en Parma, de allí su obra
        San Martín partiendo su capa con el pobre; conoce la obra de Correggio. Se especula sobre la posibilidad de que
        haya conocido personalmente a Caravaggio.
        Permanece en Roma hasta 1616; allí contempló también la obra de Rafael y Miguel Ángel. También influyeron en su
        paleta las obras de Guido Reni y Ludovico Caracci. En Roma se hizo famoso, ejecutando obras de gran manufactura,
        como El gusto y El tacto.
        Ribera se marcha a Nápoles en 1616, donde establece su residencia. Con la protección de los virreyes, fue
        miembro de la Cámara Real como pintor; para entonces el duque de Osuna, le contrata para unas obras en la
        colegiata de Osuna.
        Otras iglesias buscan sus servicios: el conde Monterrey, obras en la iglesia de las Agustinas de Salamanca, y
        Don Juan de Austria. Realizó algunas obras en la iglesia napolitana de Jesús Nuevo, en la capilla de San Genaro
        de la catedral y, en la cartuja de San Martín.
        Entre 1620 a 1626 se registra pocas obras, pues se dedica a ejecutar gran parte de sus grabados, técnica que
        trabajó con gran destreza. Del Siglo de oro fue el artista que permaneció más apegado a las propuestas
        estilísticas del claroscuro italiano del Caravaggio.

    </p>
    <p>
        Este tenebrismo se refleja en obras como San Andrés (Museo del Prado). Dada sus raíces españolas mantuvo la
        tendencia a lo religioso, con la presencia de figuras solitarias de vírgenes, santos, anacoretas y mártires de
        facciones morenas y frentes fruncidas, de gran realismo.
        También trabajo la mitología y fue un maestro del retrato; se destaca sus pinturas sobre mendicantes y
        personajes populares, con piezas de gran maestría. Desde 1630 se distancia del tenebrismo, explorando una nueva
        propuesta más luminosa.
        En La Inmaculada Concepción de 1636, El sueño de Jacob o en La Magdalena (1639 -1640) aparecen cielos naranjas y
        azules, bañados de luz. En los años 1640 sufre al parecer una trombosis, que, aunque lo limitó, no hizo mermar
        su éxito y prestigio.
        Por momentos regresó al tenebrismo, quizás por su drama personal. José de Ribera falleció el 2 de septiembre de
        1652 en Nápoles, Italia.


    </p>
</div>
<div class="container" style="margin-bottom: 120px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="img/jose1.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/jose2.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/jose3.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/jose4.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/jose5.jpg" alt="">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{{>footer}}