{{>header}}
{{>nav}}
<div class="container">
    <img src="img/rivera.jpg"
         style="width: 720px; height: 480px;  margin-left: auto; margin-right: auto; display: block; border: 1px solid white;">
    <p>Diego Rivera nació en Guanajuato, México el 8 de diciembre de 1886. Este fue uno de los artistas mexicanos que
        conformaban la tríada de los máximos representantes del muralismo mexicano, junto con David Alfaro Siqueiros
        (1896-1974) y José Clemente Orozco (1883-1949).
        La biografía de Diego Rivera es bastante extensa, por lo que la dividiremos en varias fases de su vida:
        ”
    </p>
    <p>
        Rivera era hijo de María del Pilar Barrientos y Diego Rivera Acosta. Cuando apenas tenía año y medio de edad, su
        hermano José Carlos María Barrientos Rivera murió.
        A pesar de que Diego sobrevivió, este estaba bastante débil y padecía raquitismo.
        A pesar de que el nombre real de Diego Rivera era “José Diego Rivera”, él insistía en que su nombre era “Diego
        María de la Concepción Juan Nepomuceno Estanislao de la Rivera y Barriento Acosta y Rodríguez”.
        Cinco años después, cuando ya Rivera teniendo 6 años de edad, sus padres se mudarían a la Ciudad de México junto
        con él.
        Esto lo llevaría a un estudio temprano de las artes en la academia San Carlos (“Escuela de Bellas Artes de San
        Carlos” en la actualidad). Es aquí donde Diego conoció a José María Velasco, un pintor paisajista que marco las
        enseñanzas básicas naturalistas que influenciaron directamente en las primeras obras de Rivera.

    </p>
    <p>
        En 1905, Rivera recibió una pensión del Secretario de Educación de México. Dos años más tarde, recibió una
        segunda pensión, esta vez de parte del Gobernador de Veracruz, la cual le permitió viajar a España para estudiar
        obras.
        La firma de Rivera era una rana. Según se cree, esta podría basarse en el nombre de la ciudad donde éste nació.
        Luego de recorrer varios países de Europa, los intereses de Diego cambiarían. De hecho, durante esta etapa, el
        pasaría del academicismo al arte de vanguardia. También hay información sobre el interés de Rivera por el
        cubismo.

    </p>
    <p>
        En 1922 Diego volvió a México para estudiar de lleno la cultura maya y arte azteca. Este mismo año, fue uno de
        los organizadores de la Unión de Trabajadores Técnicos y Plásticos.
        Por otro lado, según la biografía de Diego Rivera, a finales del año este iniciaría la pintura en la Secretaría
        de Educación Pública. De la misma forma, este fue uno de los fundadores del Partido Comunista Mexicano.

    </p>
    <p>
        El primer mural de Diego Rivera se llamó “La Creación” y estaba ubicado en el interior del Anfiteatro Simón
        Bolívar de la Universidad Nacional de México.
        Este mismo año, Rivera se casó con Guadalupe Marín y llevaría a cabo pinturas en varios edificios estatales.
        Una vez divorciado de Guadalupe Marín, este se casó con Frida Kahlo en 1929, con quien tendría 10 años de
        matrimonio.
        Falleció en su casa con 70 años el 24 de noviembre de 1957, en San Ángel, Ciudad de México.

    </p>
</div>
<div class="container" style="margin-bottom: 120px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="img/rivera1.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/rivera2.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/rivera3.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/rivera4.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/rivera5.jpg" alt="">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{{>footer}}