body{
    background: rgb(0,236,255);
    background: radial-gradient(circle, rgba(0,236,255,1) 0%, rgba(9,105,121,1) 70%);
}
h1,h3,p{
    color:white;
}
.container a{
    color:black
}
.container a:hover{
    color:white
}
img{
    width: 144px;
    height: 240px;
}
.container p{
    text-align: justify;
}
.carousel-item img{
    width: 720px;
    height: 480px;
}